body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Indie Flower", cursive;
    font-size: 16px;
    background-color: #936833;
}

.inspiration-regular {
    font-family: "Inspiration", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.imbue {
  font-family: "Imbue", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.container{
    background-color: #936833;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    
    .top{
      background-color: #aba073;
    }

    .top-inner{
      border: 1px solid white;
      margin: 1em;
      background-color: #aba073;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 4vw;
      .logo {
        grid-column: span 3;
      }
      .header {
        grid-column: span 6;
        background-color: #50341F;
        margin: 1em;
        color: white;
        h1 {
          font-family: "Imbue", serif;
          font-size: 70px;;
        }
        h2 {
          font-family: "Inspiration", cursive;
          font-size: 60px;
        }
      }
      .nav {
        grid-column: span 3;
        background-attachment: fixed;
      }
    }

    .hero {
      position: relative;
      background-color: #936833;
      background-image: url("./images/apples.png");
      background-size: auto;
      background-repeat: 0;
      height: 80vh;
  }
  
  .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      align-content: center;  
  }
  
  .overlay h1 {
      background-color: #936833;
    display: inline-block;
      width: 60%;
      text-align: center;
      color: white;
      font-size: 35px;
      padding: 2em;
  }
  
  .hero-image {
      display: block;
      z-index: 0;
      width: 100%;
      height: auto;
  }





}

.other{
    background-color: azure;
}